// === BACKGROUND COLORS === //
$background-color: #000000; 
$navbar-color: #1c62a0;
$footer-color: #1c62a0;

// === TEXT COLORS === //
$primary-color: #1c62a0;
$secondary-color: #FFFFFF; 
$tertiary-color: #e6dada; 

// === FONTS === //
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Playfair Display", serif;

$font-size1: 60px;
$font-size2: 25px;

// === NAVBAR === //
$navbar-height: 80px;